*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Code Pro', monospace;
}
.container-fluid{
    width: 100%;
  

 } 
#mainNav{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #212529;
}

.nav-item{
    font-weight: 600;
    
}
.nav-link{
    color: #ccc !important;
    letter-spacing: 2px;
    font-size: 1em;
    word-spacing: 15px;
}
.nav-link:hover{
    background-color: yellow;
}
.navbar-brand img{
    height: 1.6rem;
}
 /* .navbar-nav li a:hover{
     color: #ffc800;
     transition: 5s;
 } */
 li:hover
 {
color:yellow;
 }

 

.fixed-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

/* mastheader */
header.masthead{
    padding-top: 10.5rem;
    padding-bottom: 6rem;
    text-align: center;
    color: #fff;
    background-image: url("../images/header-bg.jpg");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position:center ;
    background-size: cover;
}
.masthead-subheading{
    font-size: 2.1rem;
    font-style: italic;
    line-height: 1rem;
    margin-bottom: 2rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.masthead-heading{
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
    margin-bottom: 4rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.btn-xl{
    padding: 1.25rem 2.5rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 700;

}

    .btn-primary {
        
        background-color: #ffc800;
        border-color: #ffc800;
}
/* services */
fa-stack {
    display: inline-block;
    vertical-align: middle;
    height: 2em;
    position: relative;
    width: 2.5em;
}
.fa-4x {
    font-size: 3em;
}
.fa-stack-1x, .fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
}
.fa-inverse{
    width: 60px;
}


*, *::before, *::after {
    box-sizing: border-box;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 200, 0, 0.9);
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity ease-in-out 0.25s;
}
#portfolio .portfolio-item .portfolio-caption {
    padding: 1.5rem;
    text-align: center;
    background-color: #fff;
}
/* about */
.timeline{
position: relative;
padding: 0;
list-style: none;
}

.timeline > li .timeline-panel {
    position: relative;
    float: right;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}
 
.img-fluid {
    max-width: 100%;
    height: auto;
}
/* about */
.timeline ul li{
    position: relative;
    padding: 0;
    list-style-type: none;
    width: 50%;
    min-height: 50px;
    margin-bottom: 50px;
}
/* .timeline  li {
    position: relative;
    min-height: 50px;
    margin-bottom: 50px;
} */
ul{
    list-style: none; 
    margin-left:0;
    padding-left:0;
}

/* .timeline::after{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    content: "";
    background-color: #e9ecef;
    z-index: 1;
} */
.timeline::before{
    content: '';
    position: absolute;
    height: 80%;
    width:3px ;
    background-color: #e9ecef;
    left: 50%;
    top: 10%;
    
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}
.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.timeline ul li:nth-child(odd) .content{
    margin-right:  90px; 
}
.timeline ul li:nth-child(even) .content{
margin-left: 90px;

}
.timeline ul::after{
    content: '';
    display: table;
    clear: both;
    }
    .timeline-image ul li:nth-child(odd)::before{
content: '';
position: absolute;
height: 80px;
width: 80px;

border-radius: 50%;
right: -40px;
top: 50%;
transform: translate(0%, -50%);
border: 4px solid #6c757d

    }
   .timeline ul li:nth-child(even)::before{
        content: '';
        position: absolute;
        height: 80px;
        width: 80px;
        
        border-radius: 50%;
        left: -40px;
        top: 50%;
        transform: translate(0%, -50%);
        
        
            }
       .content{
           padding: 20px 0px;
       }     


     .timeline-image {
        position: absolute;
        z-index: 1;
        left: -17%;
        width: 80px;
        height: 80px;
        margin-left: 10%;
        text-align: center;
        border: 7px solid #e9ecef;
        border-radius: 100%;
        background-color: #ffc800;
    
    }
    .text-muted {
        color: #6c757d!important;}
      p {
        margin-top: 0;
        margin-bottom: 1rem;
    }  
    
    .timeline > li .timeline-panel {
        position: relative;
        float: right;
        width: 100%;
        padding: 0 20px 0 100px;
        text-align: left;
    }
   .timeline-image  h4 {
        font-size: 10px;
        line-height: 14px;
        margin-top: 12px;
    }

    .rounded-circle {
        border-radius: 50% !important;
    }
    .img-fluid {
        max-width: 100%;
        height: auto;

    }
.timeline-heading h4 {
    margin-top: 0;
    color: inherit;
}

z
     


/* .timeline{
    margin-top: 40px;
    margin-bottom: 40px;
    position: relative;
}
.timeline::before{
    content: '';
    position:absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: #c5c5c5;
}
.timeline ul{
    margin: 0;
    padding: 0;

}
.timeline ul li{
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}
.timeline ul li:nth-child(odd){
    float: left;
    text-align: right;
    clear: both;
}

.timeline ul li:nth-child(even){
    float: right;
    text-align: left;
    clear: both;
}
.timeline-panel{
    padding-bottom: 20px;
    padding: 10px 10px;
    text-align: justify;
}
.timeline ul li:nth-child(odd):before{
    content: '';
    position:absolute;
    top: 24px;
    right: -11px;
    width: 20px;
    height: 20px;
} */
/* .wrapper{
    max-width: 600px;
    margin: 50px auto;
    padding: 0 20px;
}
.wrapper .row{
    display: flex;
    justify-content: flex-start;

}
.wrapper .center-line{
    position: absolute;
    height: 100%;
    width: 3px;
    background-color: #212529;
    left: 50%;
    transform: translateX(-50%);
}
.wrapper .row section{
    width: calc(50% -40px);
}
.wrapper .row-1{
    justify-content: flex-start;
}
.wrapper .row-2{
    justify-content: flex-end;
}
.wrapper section .details{
    display: flex;
    align-items: center;
    justify-content: space-between;

} */
/* .timeline { 
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
  }
  /* .timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
  }
  .timeline > li {
    margin-bottom: 20px;
    position: relative;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li:before,
  .timeline > li:after {
    content: " ";
    display: table;
  }
  .timeline > li:after {
    clear: both;
  }
  .timeline > li > .timeline-panel {
    width: 50%;
    float: left;
    /* border: 1px solid #d4d4d4; */
    /* border-radius: 2px; 
    padding: 20px;
    position: relative;
    /* -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); */
    /* box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175); 
  }
   
  /* .timeline > li.timeline-inverted + li:not(.timeline-inverted), 
  .timeline > li:not(.timeline-inverted) + li.timeline-inverted {
  margin-top: -60px;
  }
  
  .timeline > li:not(.timeline-inverted) {
  padding-right:90px;
  }
  
  .timeline > li.timeline-inverted {
  padding-left:90px;
  }
  .timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    /* border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent; 
    content: " ";
  }
  /* .timeline > li > .timeline-panel:after { 
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    /* border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent; 
    content: " ";
  }
  /* .timeline > li > .timeline-image { 
     color: #fff; 
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999; 
    z-index: 100;
    /* border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
  }
  .timeline > li.timeline-inverted > .timeline-panel:before {
     border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }
  .timeline > li.timeline-inverted > .timeline-panel:after {
     border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
  }
  .timeline-badge.primary {
    background-color: #2e6da4 !important;
  }
  .timeline-badge.success {
    background-color: #3f903f !important;
  }
  .timeline-badge.warning {
    background-color: #f0ad4e !important;
  }
  .timeline-badge.danger {
    background-color: #d9534f !important;
  }
  .timeline-badge.info {
    background-color: #5bc0de !important;
  }
  .timeline-title {
    margin-top: 0;
    color: inherit;
  }
  .timeline-body > p,
  .timeline-body > ul {
    margin-bottom: 0;
  }
  .timeline-body > p + p {
    margin-top: 5px;
  }
  */
/* team */
.team-member {
    margin-bottom: 3rem;
    text-align: center;
}
.rounded-circle {
    width: 150px;
}
.team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
}

 svg {
    vertical-align: middle;
    width: 20px;
    
}

.btn-dark{
    border-radius: 50%;
} 
/* contact */
section#contact {
    background-color: #212529;
    background-image: url(../images/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
}
.page-section {
    padding: 6rem 0;
}
section#contact form#contactForm .form-group-textarea textarea {
    height: 100%;
    min-height: 10rem;
}
section#contact form#contactForm .form-group input, section#contact form#contactForm .form-group textarea {
    padding: 1.25rem;
    margin: 30px;
}

 .form-control{
    border-color: #dc3545;
  
    background-image: url("../images/téléchargement.svg");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
    
}

.footer {
    text-align: center;
    font-size: 0.9rem;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
